body {
    background: #f5f5f5;
    font-family: Arial, sans-serif;
}

.container {
    width: 40%;
    margin: auto;
    background: white;
    padding: 25px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}

input[type="file"] {
    padding: 10px;
    margin: 15px 0;
}

button {
    padding: 10px 20px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

.result-box {
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    background: #eafbea;
    text-align: left;
}

.result-box img {
    width: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
}

